.course-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.img-size {
  height: 300px;
  width: 300px;
}

.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
